.ms-section-banner{
    min-height: 800px;
    max-height: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.ms-hero{
    position: relative;
}
.ms-hero-background{
    position:absolute;
    z-index:1;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-size:cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position:0 50%;
}
.ms-hero-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.ms-hero-background-video{
    margin:auto;
    position: absolute;
    z-index:1;
    top:50%;
    left:0;
    transform: translateY(-50%);
    visibility: visible;
    opacity:1;
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: clip;
    overflow-clip-margin: content-box;
}
.ms-hero-content{
    transform: translateY(0px) translateZ(0px);
    z-index: 6;
}

.container-main{
    --bs-gutter-x:1.5rem;
    --bs-gutter-y:0;
    width:100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-left: 126.5px;
    margin-right: 126.5px;
}
.row-main{
    --bs-gutter-x:1.5rem;
    --bs-gutter-y:0;
    display:flex;
    flex-wrap:wrap;
    margin-top:0;
    margin-left:-0.75rem;
    margin-right: -.75rem;
}
.col-main{
    color: rgba(255,255,255,1);
    flex: 0 0 auto;
    width:58.33333333%;

}
.row-main>*{
    flex-shrink: 0;
    width: 58.33333333%;
    max-width:100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}
.hero-head{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 2.5rem;
    font-family: "Be Vietnam Pro";
    font-weight: 700;
    line-height: 1.2;

}
.hero-head2{
    font-weight: 400;
    font-size: 18px;
    font-family: "Nunito",sans-serif;
    line-height: 1.5rem;
    margin-bottom: 40px;
    width:50%;


}
@media (min-width: 576px) {
    .hero-div {
        flex-direction: row;
    }
}
.hero-div{
   display: flex;
   /* flex-direction: column; */
}
.mb-5{
    margin-bottom: 1.75rem;
    /* margin-left: 1rem; */
}
.mb-5 a{
    display: inline-block;
    transition: all .2s ease;
    text-decoration: none;
}
.ms-sm-4{
    margin-left: 1rem;
}
.ms-button__primary{
    cursor: pointer;
    height: 50px;
    border: 0;
    padding: 5px 5px 5px 21px;
    border-radius: 25px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ms-button__primary-name{
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
    margin-right: 18px;
}
.ms-button__primary-arrow{
    height: 35px;
    width:35px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ms-button__primary-arrow--rotated{
    transform: rotate(90deg);
}
.ms-hero-divider{
    position: absolute;
    bottom:-2px;
    z-index: 4;
    width:100%;
}
.ms-hero-divider svg{
    vertical-align: middle;
}
.ms-coursebanner__m{
    position: absolute;
    top:30%;
    right: 0;
    bottom: 0;
}
.ms-hero__m{
    z-index: 4;
}
.img-fluid{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
